html,
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: none !important;
    background-color: #44475A !important;
}

body * {
    color: rgba(248, 248, 242, 1) !important;
    background-color: #44475A !important;
}

a,
a * {
    color: rgba(80, 250, 123, 1) !important;
    background-color: transparent !important;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
    color: rgba(241, 250, 140, 1) !important;
}

a:visited,
a:visited * {
    color: rgba(98, 114, 164, 1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
    color: rgba(255, 184, 108, 1) !important;
    background-color: #282A36 !important;
}

table {
    background-color: #44475A !important;
}

[id*="overlay"],
[id*="lightbox"],
blockquote {
    background-color: rgba(68, 71, 90, 1) !important;
}

pre,
dl {
    background-color: rgba(68, 71, 90, 1) !important;
}

input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,
.install[onclick] {
    text-indent: 5px;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    background: #6272A4 !important;
}

button:hover{
    text-indent: 5px;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    background: #BD93F9 !important;
}

textarea {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    background: rgba(68, 71, 90, 1) !important;
}

div,
ul,
li {
    background-image: none !important;
}

a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] {
    font-weight: bold !important;
    color: rgba(139, 233, 253, 1) !important;
}

.outer {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height of viewport */
    width: 100vw;
    padding: 0px;
    box-sizing: border-box; /* Include padding in height */
    /* for debugging div */
    /*border: 1px solid white;border-radius: 2px*/
}

.container {
    background-color: #282A36 !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    float: left;
    width: 80%;
    max-width: 100vw;
    /* for debugging div */
    /*border: 1px solid white;border-radius: 2px*/
}

.container1 {
    background-color: #282A36 !important;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    display:inline-block;
    width: 80%;
    max-width: 444px;
    /* for debugging div */
    /*border: 1px solid white;border-radius: 2px*/
}

.container2 {
    background-color: #282A36 !important;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    display:inline-block;
    width: 80%;
    max-width: 600px;
    /* for debugging div */
    /*border: 1px solid white;border-radius: 2px*/
}

.container3 {
    background-color: #282A36 !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    display:inline-block;
    width: 80%;
    max-width: 600px;
    /* for debugging div */
    /*border: 1px solid white;border-radius: 2px*/
}

::placeholder {
    color: #282A36;
    opacity: 1;
}
input[type="text"] {
    width: 80px;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    color: white
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#listContainer {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}